/* Charte graphique Mobile*/
:root {
    --white: white;
    --blue: #1D244A;
    --orange: #EC722E;
    --orange-o-50: #ec702e4b;
    --m-orange: #FFD9C3;
    --l-orange: #FFD9C3;
    --l-pink: #FEEEED;
    --l-pink2: #FCF0EF;
    --l-blue: #E6E8FC;
    --l-blue2: #E5E9FD;
    --l-green: #E0EAE2;
    --l-grey: #F3F3F7;
    --title: 'Poppins', 'sans-serif', bolder;
    --text: 'manrope', 'sans serif';
    --xxlarge-title: 60px;
    --xlarge-title: 56px;
    --large-title: 38px;
    --experience-title: 34px;
    --medium-title: 30px;
    --project-title: 22px;
    --small-title: 14px;
    --large-text: 18px;
    --medium-text: 16px;
    --small-text: 14px;

}

/* Boutons */
:root {
    --btn-border-radius: 30px;
    --menu-border-radius: 10px;
}

/* Title*/

p {
    font-family: var(--text);
    font-size: var(--small-text);
    font-weight: 400;
    color: var(--blue);
    text-align: center;
}

/*h1*/
.title {
    font-family: var(--title);
    font-size: var(--large-title);
    font-weight: 700;
    line-height: 3.5rem;
    color: var(--blue);
    text-align: center;
}

.navbar {
    display: flex;
}

main {
    background-color: var(--body) !important;
    background-image: url(/img/hero-blob-mobile.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

h1>span {
    color: var(--orange);
}

.blob-p {
    position: absolute;
    right: 0;
    top: 20%;
}

.logo_desktop {
    width: 100%;
    display: none
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.navigation {
    display: flex;
    align-items: flex-end;
    background-color: var(--l-pink);
    border-radius: var(--menu-border-radius);
    min-width: 140px;
    padding: 0.5rem 0.5rem 1rem 1rem;
    height: 170px;
}

.navigation>div>ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100px;
    height: 70%;
    margin: 0px;
    padding-left: 0px;
}

.navigation>div>ul>li {
    list-style: none;
    text-align: right;
    font-family: var(--title);
    position: relative;
    width: 100%;
    display: flex;
}

.links-menu {
    height: 100%;
    display: flex;
    align-items: end;
}

.navigation>div>ul>li>a {
    text-decoration: none;
    color: var(--blue);
    width: 100%;
    font-size: 18px;
}

.navigation>div>ul>li>a:hover {
    color: var(--orange);
}

.navigation>div>ul>li:hover::after {
    color: var(--orange);
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: var(--orange);
    right: 0;
}

#burger_menu {
    display: flex;
    align-self: flex-end;
    margin-bottom: .5rem;
    position: absolute;
    top: 0;
    right: 0;
}

#fermer,
#ouvert {
    margin: 0.5rem;
    color: var(--blue);
    font-size: 25px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    font-family: var(--text);
    font-size: var(--small-text);
    color: var(--blue);
    text-align: center;
}

.picture>img {
    width: 100%;
    position: relative;
}

.picture {
    width: 60%;
    align-self: flex-end;
}

.btn {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
}

.cta {
    background-color: var(--blue);
    padding: 14px;
    margin-bottom: 10px;
    align-self: center;
    border-radius: var(--btn-border-radius);
}

.cv {
    padding: 14px;
    align-self: center;
    border-radius: var(--btn-border-radius);
    border: solid 1px var(--blue);
}

.cta>a {
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
}

.cv>a {
    text-decoration: none;
    color: var(--blue);
    font-size: 16px;
    font-weight: 500;
}

/*Experiences*/
.experiences {
    padding: 3rem 1rem;
    margin-bottom: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experiences>.experiences_title>h2 {
    font-family: var(--title);
    font-size: var(--medium-title);
    font-weight: 700;
    color: var(--blue);
    text-align: center;
    line-height: 2rem;
}

.experiences>.experiences_title>div>span {
    font-size: var(--xlarge-title);
    font-weight: 900;
    color: var(--orange);
}

.card_experiences {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card_design {
    width: 170px;
    height: 210px;
    background-color: var(--m-orange);
    padding: 20px;
    border-radius: 15px
}

.card_design>h3 {
    margin: 0;
    font-family: var(--title);
    font-size: var(--small-title);
    font-weight: 600;
    color: var(--blue);
    text-align: left;
}

.card_dev {
    width: 170px;
    height: 210px;
    background-color: var(--l-pink);
    padding: 20px;
    border-radius: 15px
}

.card_dev>h3 {
    margin: 0;
    font-family: var(--title);
    font-size: var(--small-title);
    font-weight: 600;
    color: var(--blue);
    text-align: left;
}

.img_design {
    width: 100%;
}

.img_webdev {
    width: 100%;
}

/*Travaux*/
.travaux {
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: var(--l-pink2);
    border-radius: 20px;
}

.travaux_global {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.travaux>.travaux_intro {
    margin-bottom: 3rem;
}

.travaux>.travaux_intro>h2 {
    font-family: var(--title);
    font-size: var(--medium-title);
    font-weight: 700;
    color: var(--blue);
    text-align: center;
    line-height: 2rem;
}

.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 20px;
}

.projects>img {
    display: none;
}

.projects>.projet_text>h3 {
    font-family: var(--title);
    font-size: var(--project-title);
    font-weight: 600;
    color: var(--blue);
    text-align: left;
    line-height: 2rem;
}

.projects>.projet_text>p {
    text-align: left;
}

.projet_text>h4 {
    font-family: var(--title);
    font-size: var(--small-title);
    color: var(--blue);
    text-align: left;

}

#project1 {
    background-color: #F3F3F7;
    box-shadow: 2px 2px 7px 0 rgb(183 186 204 / 80%), -2px -2px 7px 0 rgb(229 233 254);
}

#project2 {
    background-color: var(--l-blue2);
    box-shadow: 2px 2px 7px 0 rgb(183 186 204 / 80%), -2px -2px 7px 0 rgb(229 233 254);
}

#project3 {
    background-color: var(--l-blue2);
    box-shadow: 2px 2px 7px 0 rgb(183 186 204 / 80%), -2px -2px 7px 0 rgb(229 233 254);
}

#project4 {
    background-color: var(--l-blue2);
    box-shadow: 2px 2px 7px 0 rgb(183 186 204 / 80%), -2px -2px 7px 0 rgb(229 233 254);
}

#project5 {
    background-color: var(--l-blue2);
    box-shadow: 2px 2px 7px 0 rgb(183 186 204 / 80%), -2px -2px 7px 0 rgb(229 233 254);
}

.travaux>.projects>#projects5 {
    margin-bottom: 4rem !important;

}

.cta_projects {
    width: 70%;
    display: flex;
    justify-content: center;
    background-color: var(--blue);
    padding: 14px;
    margin: 0;
    border-radius: var(--btn-border-radius);
}

.cta_projects>a {
    text-decoration: none;
    color: var(--white);
}

footer {
    border-top: 1px solid #DFE0E7;
}

footer {
    padding: 2rem;
}

.footer_content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.footer_content> .informations>.intro_contact>p {
    text-align: start;
}

.footer_content>.footer_logo {
    width: 80%;
    margin: 0;
    padding-bottom: 2rem;
    display: flex;
    align-self: flex-start;
}

.footer_content> .informations>.intro_contact>h3 {
    font-family: var(--title);
    font-size: var(--project-title);
    font-weight: 600;
    color: var(--blue);
    text-align: left;
    line-height: 2rem;
}

.footer_content>.rs_contact>h3 {
    font-family: var(--title);
    font-size: var(--project-title);
    font-weight: 600;
    color: var(--blue);
    text-align: left;
    line-height: 2rem;
}

.informations>.infos_contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 2rem;
}

.links_rs {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.mail,
.phone {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #ed6866;
}

.phone>p {
    width: 100%;
    display: flex;
    justify-self: flex-start;
}

.mail>p {
    width: 100%;
    display: flex;
    justify-self: flex-start;
    margin-bottom: 0.5rem;
}

#icon,
#icon_2 {
    width: 15%;
}

.footer_content> .informations>.menu_contact>h3 {
    font-family: var(--title);
    font-size: var(--project-title);
    font-weight: 600;
    color: var(--blue);
    text-align: left;
    line-height: 2rem;
}

.footer_content> .informations> .menu_contact>.links_menu>ul>li>a {
    text-decoration: none;
    color: var(--blue);
    width: 100%;
    font-size: var(--small-text);
}

.footer_content>.informations> .menu_contact>.links_menu>ul>li {
    list-style: none;
    padding-bottom: 0.5rem;
}


@media (min-width: 769px) {}

@media (min-width: 1200px) {
    main {
        background-image: url(/img/hero-blob-desktop.png);
        background-position-x: -100%;
        background-position-y: -10%;
        background-repeat: no-repeat;
    }

    .blob-p {
        position: absolute;
        right: 0;
        top: 10%;
    }

    .title {
        font-family: var(--title);
        font-size: var(--xlarge-title);
        font-weight: 800;
        line-height: 4rem;
    }

    .logo_mobile {
        display: none;
    }

    .logo_desktop {
        display: block;
        width: 100%;
    }

    .navigation {
        display: block;
    }

    .mb-4>#burger_menu,
    .navigation {
        display: none;
    }

    .hero {
        height: 500px;
        height: 500px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .intro {
        width: 50%;
        display: flex;
        align-items: flex-start;
        text-align: left;
        justify-content: center;
    }

    .intro>p {
        text-align: left;
    }

    .btn {
        width: 100%;
        margin: 0;
        display: flex !important;
        flex-direction: row;
        justify-content: space-between;

    }

    .cta {
        width: 40%;
        background-color: var(--blue);
        padding: 14px;
        margin-bottom: 10px;
        align-self: center;
        border-radius: var(--btn-border-radius);
    }

    .cv {
        width: 40%;
        padding: 14px;
        align-self: center;
        border-radius: var(--btn-border-radius);
        border: solid 1px var(--blue);
    }

    .hero_picture {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
    }

    .hero_picture>.img {
        width: 95%;
        position: absolute;
        bottom: 0;
    }

    .picture {
        width: 100%;
        border-radius: 100%;
    }

    .circle {
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid var(--orange);
        border-radius: 50%;
        width: 500px;
        height: 500px;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        font-size: 28px;
        color: #222;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background-color: #222;
    }

    ul {
        margin: 0;
        padding: 0 !important;
        list-style: none;
    }

    .carousel {
        position: relative;
        overflow: hidden;
    }

    .carousel__slider {
        position: relative;
        display: flex;
        align-items: center;
        width: 80vw;
        height: 200px;
    }

    .carousel__list {
        margin: 0;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .carousel__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        box-sizing: border-box;
        cursor: pointer;
    }

    /*Experiences*/
    .experiences {
        padding: 3rem 1rem;
        margin-bottom: 2rem;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .experiences>.experiences_intro {
        display: flex;
        flex-direction: row;
        width: 45%;
    }

    .experiences>.experiences_intro>span {
        font-size: 90px;
        font-weight: 900;
        color: var(--orange);
    }

    .experiences>.experiences_intro>.experiences_content {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    .experiences>.experiences_intro>.experiences_content>.experiences_title>h2 {
        font-size: var(--experience-title);
        font-weight: 700;
        color: var(--blue);
        text-align: left;
        line-height: 2.5rem;
    }

    .experiences>.experiences_intro>.experiences_content>.experiences_text>p {
        text-align: left;
    }

    .card_experiences {
        width: 55%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .card_design {
        width: 300px;
        height: 400px;
        padding-top: 3rem;
        border-radius: 20px
    }

    .card_design>h3 {
        padding-top: 1rem;
        color: var(--blue);
        font-size: var(--project-title);
    }

    .card_dev {
        width: 300px;
        height: 400px;
        background-color: var(--l-pink);
        padding-top: 3rem;
        border-radius: 20px;
    }

    .card_dev>h3 {
        padding-top: 1rem;
        width: 70%;
        color: var(--blue);
        font-size: var(--project-title);
    }

    /*Travaux*/
    .travaux {
        padding: 5rem 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--l-pink2);
        border-radius: 20px;
    }

    .travaux_global {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
    }

    .travaux>.travaux_intro {
        width: 60%;
        margin: 0;
        padding-bottom: 2rem;
    }

    .travaux>.travaux_intro>h2 {
        font-size: var(--large-title);
        margin: 0;
        padding-bottom: 2rem;
    }

    .projects {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        padding: 4rem 4rem 0rem 4rem;
    }

    #project2,
    #project4 {
        display: flex;
        flex-direction: row;
    }

    .projects>.project_img>img {
        display: flex;
        width: 100%;
    }

    .project_img {
        width: 40%;
    }

    .projects>.project_text {
        width: 55%;
    }

    .projects>.project_text>h3 {
        font-family: var(--title);
        font-size: var(--medium-title);
        color: var(--blue);
        font-weight: 700;
        line-height: 2rem;
        padding-bottom: 1rem;
    }

    .project_text>h4 {
        font-family: var(--title);
        font-size: var(--small-title);
    }

    .projects>.project_text>p {
        text-align: left;
    }

    #project1 {
        background-color: var(--l-blue2);
        box-shadow: 2px 2px 7px 0 rgb(183 186 204 / 80%), -2px -2px 7px 0 rgb(229 233 254);
    }

    #project2 {
        background-color: var(--l-green);
        box-shadow: 2px 2px 7px 0 rgb(214 221 212), -2px -2px 7px 0 rgb(239 243 237);
    }

    #project3 {
        background-color: var(--l-orange);
        box-shadow: 2px 2px 7px 0 rgb(238 219 209), -2px -2px 7px 0 rgb(252 239 233);  
    }

    #project4 {
        background-color: var(--l-blue2);
        box-shadow: 2px 2px 7px 0 rgb(183 186 204 / 80%), -2px -2px 7px 0 rgb(229 233 254);
    }

    #project5 {
        background-color: var(--l-green);
        box-shadow: 2px 2px 7px 0 rgb(214 221 212), -2px -2px 7px 0 rgb(239 243 237);
    }

    .cta_projects {
        width: 20%;
    }

    /*Footer*/
    footer {
        margin-top: 5rem;
    }
    .footer_logo >img{
        width: 100%;
    }
    footer > .footer_content >.footer_logo{
        width: 50%;
    }
    .footer_content {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .informations{
        display: flex;
        justify-content: flex-end;
    }
    .informations >p{
        font-size: 16px;
    }
    footer > .footer_content > .informations> .menu_contact{
        width: 30%;
    }

    footer>.footer_content > .informations> .intro_contact {
        width: 50%;
    }
    
    .footer_content> .informations> .intro_contact> h3 {
        font-size: var(--medium-title);
    }
    
    footer > .footer_content > .informations> .menu_contact > h3{
        font-size: var(--medium-title);
    }
}